<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f0f0f0;
            color: #333;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h2 {
            color: #007BFF;
        }
        p {
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Basic instructions for using the Annotation Tool</h2>
        <p>
            To get started, you need to enter the settings in the <strong>Project &gt; Settings menu</strong>
        </p>
        <p>
        To start annotation select project via <strong>Project &gt; Open</strong>. Application will download images and annotations if they not already downloaded. Then the project will be opened in the appropriate mode depending on task type and status on the portal.
        </p>
        <p>
        You can close the application at any time, your work will be saved and the next time you open this project - it will be opened at the same place. 
        </p>
        <p>
        Work duration is calculated during you are working. Application counts time intervals between key presses and mouse clicks, but no more than 60 seconds. 
        </p>
        <p>
        You can update your tool when some updates are available. To do this click <strong>Project &gt; Update tool</strong> and re-open the tool for the changes to take effect. 
        </p>
        <p>
         After you processed all images, press <strong>Project &gt; Complete the project</strong>. It will send annotated data to the server and updates task status on the portal
        </p>
        <p>
        Use hotkeys. You can see them in the <strong>Help</strong> menu
        </p>
        <p>
        To go to the specific image of the project click <strong>Project &gt; Go to ID</strong> and specify image id in the field.
        </p>
        <p>
        Pay attention to the <strong>Mode</strong> section on the left side of the status bar (bottom field on the window). It shows what you have to do.
        </p>
        <p>
        You can run project downloading of next project via <strong>Project &gt; Download</strong> while annotating a previous project 
        </p>
        <p>
           You can remove project data from your device by clicking <strong>Project &gt; Remove project by ID</strong> and then selecting the project id you want to remove 
        </p>

        <h2>Annotation</h2>
        <p>
        If you want to reset your work and overwrite your annotations with initial annotations, click <strong>Project &gt; Download and overwrite annotations</strong>.
        </p>
        <p>
        Use <strong>Ctrl+Z</strong> and <strong>Ctrl+Y</strong> for undo/redo
        </p>
        <p>
        Place cursor under the figure and press <strong>Ctrl+C</strong> to copy it. Use <strong>Ctrl+V</strong> to paste it on another image. If you press <strong>Ctrl+C</strong> when any figure under cursor - it will copy all figures on the image.
        </p>
        <p>
        Press <strong>T</strong> if you want to tag image as a trash. After that the <strong>Trash</strong> section on the status bar become red. Press <strong>T</strong> again to remove trash tag from the image.
        </p>
        <p>
            You can rename BBoxes by placing the cursor over them and pressing the class hotkey. See the <strong>Help &gt; Classes</strong> menu to see the classes, their colors, and hotkeys. You can rename only BBoxes and Review labels in a review mode. Keypoint groups and segmentation masks it is impossible to rename for now. 
        </p>
        <p>
            You can also use <strong>A</strong> key for renaming figures and changing active label. Place a cursor under figure, press <strong>A</strong>. You will see a widged for label selection. Move cursor to select class you want. After releasing <strong>A</strong> the figure label and active label will be changed to selected class.
        </p>
        <p>
            In review mode you can use point of review label to move or delete it (by pressing D). You also can rename the label by pressing another label hotkey while holding cursor over the label`s point.
        </p>
        <p>
            Hide figures using hotkeys while annotating or reviewing images if you need to see the image under them.
        </p>
        <p>
            Don't forget that you can show or hide figures names using <strong>N</strong>  while annotating or reviewing images. It is important for keypoints annotation when you need to see the names of keypoints. 
        </p>
        <p>
           You can edit visual settings in the <strong>Project &gt; Settings &gt; Interface</strong> 
        </p>
        <p>
            Labeling projects have a blur class. The global rule is that we blur objects that we don't want add to the dataset not annotated and not unannotated. Any dataset-specific rules will be specified in the guides. In detection and keypoint projects, blur is a bounding box. In segmentation projects, blur is a mask. During review, the labels blur_zone and unblur_zone are used for blurring. 
        </p>
        <p>
            You can adjust the color fill of the bounding boxes. Opacity is controlled in Settings (Color fill opacity). This can help differentiate overlapping boxes when there are many of them.
        </p>
        <p>
            You can adjust the distance from which objects respond to the cursor (Cursor proximity threshold). A high value makes objects respond from farther away, while setting it to 1 means they will only activate when the cursor is directly over the corner pixel of the bounding box.
        </p>
      
    <h3>Segmentation mode guide</h3>
    <p>https://docs.google.com/document/d/1DwXRi_SYmAl2jPBjSSe2j2319Yr4rkjTXUmDq6JOhxE/edit?usp=sharing</p>

    <h2>Filtering</h2>
    <p>
        The selected image will have a green border
    </p>
    <p>
        Adjust delay between frame change using keys 1, 2, 3, 4. It should be balanced between speed and filtering accuracy.
    </p>

    <h2>Event Validation</h2>
    <p>
        Use buttons <strong>1-9</strong> to iterate through answers for each question.
    </p>
    <p>
        Click on <strong>Comment</strong> field to type the text and <strong>press Esc button to exit from it</strong>.
    </p>
    <p>
        Switch between events by using keys <strong>Q</strong> and <strong>W</strong>.
    </p>
    <p>
        Switch between image/video mode by using keys <strong>A</strong> and <strong>S</strong>.
    </p>
    <p>
        In video mode, use a slider or buttons <strong>Z</strong> and <strong>X</strong> for moving through frames backward and forward accordingly.
    </p>

    </div>
</body>
</html>
